* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    display: flex;
}

#app {
    height: 100%;
    max-width: 400px;
    padding-left: 20px;
    padding-top: 0px;
}